{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container mx-auto" x-data="{ open: false }">
    <div class="max-w-4xl mx-auto my-8">
        <h1 class="font-bold text-xl text-gray-500">出荷依頼一覧</h1>

        <div class="my-5 flex" x-data="getToday">
            <p class="text-lg mr-20" x-text="today"></p>
            <button x-on:click="open = true" class="bg-blue-500 hover:bg-blue-700 text-white text-sm py-1 px-5 rounded-full shadow-md" type="button">ダウンロード</button>
        </div>
    
        <table class="w-full table-auto my-5 text-sm">
            <thead>
                <tr>
                <th class="border-black border-b px-4 py-2">受注日</th>
                <th class="border-black border-b px-4 py-2">番号</th>
                <th class="border-black border-b px-4 py-2">配送先名</th>
                <th class="border-black border-b px-4 py-2">住所</th>
                <th class="border-black border-b px-4 py-2">TEL</th>
                <th class="border-black border-b px-4 py-2">商品</th>
                <th class="border-black border-b px-4 py-2">数量</th>
                </tr>
            </thead>
    
            {% if orders %}
            {% for order in orders %}
            <tr>
                <td class="border-b px-4 py-1">{{ order.date.strftime('%m-%d') }}</td>
                <td class="border-b px-4 py-1">{{ '{:06d}'.format(order.id) }}</td>
                <td class="border-b px-4 py-1">{{ order.shop.name }}</td>
                <td class="border-b px-4 py-1">{{ order.shop.prefecture }}{{ order.shop.city }}
                    {{ order.shop.town }}</td>
                <td class="border-b px-4 py-1">{{ order.shop.telephone }}</td>
                <td class="border-b px-4 py-1">{{ order.product.name }}</td>
                <td class="border-b px-4 py-1">{{ order.qty }}</td>
    
             </tr>
            {% endfor %}
            {% endif %}
    
        </table>
    </div>

    <!-- modal goes here -->
    <div x-show="open" class="fixed inset-0 bg-black bg-opacity-70 flex justify-center items-center">
        <div class="bg-white mx-3 md:mx-0 border p-6 shadow-md">
            <h2 class="font-bold text-sm">出荷依頼データ</h2>
            <p class="text-gray-500 text-sm mt-5">出荷依頼データをローカルにダウンロードしようとしています。</p>
            <p class="text-gray-500 text-sm mt-2">ダウンロードしますか？</p>
            <p class="font-bold mt-5 text-right">
                <span @click="open = false" class="px-3 py-1 rounded-md text-gray-500 cursor-pointer hover:bg-gray-100">中止</span>
                <span class="ml-8 px-3 py-1 rounded-md text-blue-500 cursor-pointer hover:bg-blue-100">
                    <a href="/csv" @click="open = false" >ダウンロード</a></span>
            </p>
        </div>    
    </div>

</div>
<!-- alpine.js -->
<script>
    const getToday = () => {
        let now = new Date();
        let year = now.getFullYear();
        let month = now.getMonth() + 1;
        let date = now.getDate();
        let hours = now.getHours().toString().padStart(2, '0');
        let minutes = now.getMinutes().toString().padStart(2, '0');
        return {
            today: year + "年" + month + "月" + date + "日" + "　" + hours + ":" + minutes
        }
    }
</script>
{% endblock %}
