{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container mx-auto py-5">
    <div class="max-w-4xl mx-auto">
        <h1 class="font-bold text-xl text-gray-500">出荷依頼一覧</h1>

        <div class="my-5 flex" x-data="getToday">
            <p class="text-lg mr-20" x-text="today"></p>
            <button class="bg-blue-500 hover:bg-blue-700 text-white text-sm py-1 px-5 rounded-full" type="submit">ダウンロード</button>
        </div>
    
        <table class="w-full table-auto my-5 text-sm">
            <thead>
                <tr>
                <th class="border-black border-b px-4 py-2">受注日</th>
                <th class="border-black border-b px-4 py-2">番号</th>
                <th class="border-black border-b px-4 py-2">配送先名</th>
                <th class="border-black border-b px-4 py-2">住所</th>
                <th class="border-black border-b px-4 py-2">TEL</th>
                <th class="border-black border-b px-4 py-2">商品</th>
                <th class="border-black border-b px-4 py-2">数量</th>
                </tr>
            </thead>
    
            {% if orders %}
            {% for order in orders %}
            <tr>
                <td class="border-b px-4 py-1">{{ order.date.strftime('%m-%d') }}</td>
                <td class="border-b px-4 py-1">{{ '{:06d}'.format(order.id) }}</td>
                <td class="border-b px-4 py-1">{{ order.shop_orders.name }}</td>
                <td class="border-b px-4 py-1">{{ order.shop_orders.prefecture }}{{ order.shop_orders.city }}
                    {{ order.shop_orders.town }}</td>
                <td class="border-b px-4 py-1">{{ order.shop_orders.telephone }}</td>
                <td class="border-b px-4 py-1">{{ order.product_orders.name }}</td>
                <td class="border-b px-4 py-1">{{ order.qty }}</td>
    
             </tr>
            {% endfor %}
            {% endif %}
    
        </table>
    </div>
</div>
<!-- alpine.js -->
<script>
    const getToday = () => {
        let now = new Date();
        return {
            today: now
        }
    }
</script>
{% endblock %}
