<nav class="bg-white sticky top-0 shadow-md px-3 py-3" x-data="{ open : false }">
    <div class="max-w-4xl mx-auto">
        <div class="flex justify-between">
            <div class="flex space-x-5">
                <!-- logo -->
                <div>
                    <a href="/" class="flex items-center py-3">
                    <img src="{{ url_for('static', filename='img/logo_FUROSHIKI.png') }}" width=30 height=33
                    class="mr-3" alt="furoshiki logo">
                <span class="text-xl font-bold text-gray-600 hover:text-gray-800">fas</span></a>
                </div>

                <!-- primary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="/shipped" class="py-3 px-3 text-gray-700 hover:text-gray-900 hover:underline">出荷データ</a>
                </div>
            </div>

        <!-- secondary nav -->
        <div class="hidden md:flex items-center space-x-5">
            <div>{{ current_user.email }}</div>
            <a href="/logout" class="text-blue-600 hover:underline hover:text-blue-800">ログアウト</a>
        </div>


        <div class="-mr-2 flex items-center md:hidden">
            <!-- Mobile menu button -->
            <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" aria-controls="mobile-menu" aria-expanded="false"
                      x-on:click="open = !open">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/bars-3 -->
              <svg x-show="!open" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <!-- Heroicon name: outline/x-mark -->
              <svg x-show="open" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

        </div>
    </div>

    <!-- mobile menu goes here -->
    <div class="md:hidden" x-show="open">
        <a href="/shipped" class="block py-2 px-3 text-gray-700 hover:bg-gray-200">出荷データ</a>
    
        <div class="block py-2 px-3">
        {% if current_user.is_authenticated %}
        {{ current_user.email }}
        {% endif %}
        </div>
        <a href="/logout" class="block py-2 px-3 text-blue-600 hover:bg-gray-200">ログアウト</a>
    </div>

</nav>
