{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" %}
<div x-data="" class="container mx-auto">
    <div class="my-8 px-3 mx-auto w-full md:max-w-md">
        <div class="p-5 border rounded-lg shadow-md">
            <h1 class="font-bold text-lg text-gray-500">出荷実績の登録</h1>
            <form class="mt-5" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.file(class_="text-sm") }}{{ form.submit(class_="py-2 px-4 text-white text-sm bg-blue-700 shadow-lg rounded-full cursor-pointer hover:bg-blue-500") }}
            </form>
        </div>
{#
    <!--
        <div class="my-5 p-5 border rounded-lg shadow-md">
            <h1 class="font-bold text-lg mb-3">{{ today.month }}<span class="text-sm text-gray-500"> 月の出荷実績</span></h1>
            {% if shipped_items %}
            <ul class="px-3">
                {% for shipped_item in shipped_items %}
                <li class="flex w-full border-b my-2 text-sm text-gray-500">
                    <div class="w-2/3">{{ shipped_item[0] }}<span> {{ shipped_item[1] }}</span></div>
                    <div class="w-1/3 text-right">{{ shipped_item[2] }}<span> 箱</span></div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        -->
        #}
        <div>
            <h1 class="mt-10 mb-2 font-bold text-lg text-gray-500">登録済みデータ</h1>
            <p>{{ a_week_ago.strftime('%Y-%m-%d') }} <span class="text-xs text-gray-500">以降の登録分のみ</span></p>
            

            {% if shippings %}

            <p class="my-5 space-x-2">
                {% for page_num in shippings.iter_pages(left_edge=3, right_edge=3) %}
                {% if page_num %}
                {% if shippings.page == page_num %}
                <a class="text-blue-500 underline hover:text-blue-800" href="{{ url_for('shipping.shipped', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="text-blue-500 hover:text-blue-800" href="{{ url_for('shipping.shipped', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}
            </p>

            <ul class="space-y-2">
                {% for shipping in shippings.items %}
                <li class="w-full border rounded-lg p-2 hover:border-blue-500 hover:shadow-md">
                    <div class="flex justify-around text-xs text-gray-500">
                        <p class="text-xs text-gray-500">管理番号 <span class="text-base text-gray-700"> {{ shipping.order_id }}</span></p>
                        <p class="">登録 <span class="text-base text-gray-700"> {{ shipping.registered_at.strftime('%Y-%m-%d %H:%M') }}</span></p>
                    </div>
                    <div class="mt-1 flex justify-around text-xs text-gray-500">
                        <h3 class="text-base text-blue-700"><span class="text-xs text-gray-500">問合せ番号 </span> {{ shipping.code }}</h3>
                        <p class="">出荷日 <span class="text-base text-gray-700"> {{ shipping.shipped_on }}</span></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}