{% macro render_field_with_errors(field) %}
    {{ field.label }} {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li style="color:red;">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
{% endmacro %}

{% macro render_input_field(field) %}
      {{ field(**kwargs)|safe }}
{% endmacro %}

{% macro render_select_field(field) %}
    {{ field.label }} {{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul>
    {% for error in field.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{##### log-in form ######}
{% macro render_login_field_label(field, label_text) %}
  {{ field.label(class_="block text-gray-700 text-sm mb-2 ml-3", text=label_text) }}
{% endmacro %}

{% macro render_login_field(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}

{% macro render_login_form_error() %}
{% for field in varargs %}
{% if field.errors %}
{% for error in field.errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 3000)">
  <div class="flex justify-center">
    <p class="text-sm">{{ error }}</p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endmacro %}


{% macro render_order_select(field, current_value) %}
    {{ field.label }}{{ field(**kwargs)|safe }}
{% endmacro %}


{% macro render_order_input(field, current_value) %}
    {{ field.label }}{{ field(**kwargs)|safe }}
    <ul>
        {% for error in field.errors %}
            <li style="color:red">{{ error }}</li>
        {% endfor %}
    </ul>
{% endmacro %}
