送信： {{ now.strftime('%Y-%m-%d %H:%M:%S') }}

[info][title]{{ yesterday.strftime('%m月%d日') }}のFUROSHIKI受注[/title]
【合計】
{{ "{:,}".format(total_qty) or 0 }} 箱
{{ "{:,}".format(total_amount) or 0 }} 円

【担当者別】
{% for staff in sum_by_staff %}{{ staff[1] }}{{ staff[2] }} - {{ staff[3] }}箱 - {{ "{:,}".format(staff[4]) }}円{% endfor %}
[/info]
