{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}

<!-- alert goes here -->
{% include "_flashing.html" -%}
<div class="container max-w-3xl mx-auto mt-5">

    <p class="font-bold text-lg mb-5">配送関連依頼の一覧</p>
        <table class="table-auto w-full my-5 text-sm">
        <thead>
            <tr class="border-black border-b">
                <th class="px-4">依頼日</th>
                <th class="px-4">配送先名</th>
                <th class="px-4">商品</th>
                <th class="px-4">数量</th>
                <th class="px-4">指定日</th>
                <th class="px-4">時間帯</th>
                <th class="px-4">RL確認</th>
            </tr>
        </thead>

        {% for request in requests %}
        <tr class="border-b">
            <td class="px-4">{{ request.created_at.strftime('%m-%d') }}</td>
            <td class="px-4">{{ request.product_order.shop.name }}</td>
            <td class="px-4">{{ request.product_order.product.name[10:] }}</td>
            <td class="px-4">{{ request.product_order.qty }}</td>
            <td class="px-4">
                {% if request.delivery_date %}
                {{ request.delivery_date.strftime('%m-%d') }}
                {% endif %}
            </td>
            <td class="border-b px-4 py-1">{{ request.time_range or '' }}</td>
            <td class="border-b px-4 py-1">
                {% if request.checked == 1 %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                {% endif %}
            </td>
         </tr>

        {% endfor %}
            </form>

    </table>
</div>
{% endblock %}
