{% extends "layout.html" -%}
{% block content -%}
{% include "navbar.html" -%}
{% include "_flashing.html" -%}

<div class="container max-w-6xl mx-auto mt-7">
    <div class="max-w-md mx-auto">
    <p class="font-bold text-lg my-5">取引先情報</p>
    <div class="max-w-xl rounded shadow-lg my-5 px-3 py-5">
        <p class="my-3 text-lg font-bold">{{ '%05d' % customer.id }}</p>
        <p class="text-2xl">{{ customer.name }}</p>
        <div class="mt-5">
            <a href="/customer/{{ customer.id }}?mode=edit" class="inline-block text-blue-500 hover:text-blue-700 hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg><span class="align-middle ml-1">取引先情報の編集</span>
            </a>
        </div>
    </div>

            {% if current_user.id == 1 %}
            <a href="/user_register?customer_id={{ customer.id }}" class="text-decoration-none ms-5">
                <i class="bi bi-plus"></i> ログイン用アカウントを登録</a>
            {% endif %}
        </div>

{% if shops %}

<div class="flex mt-10 mb-3">
    <p class="font-bold text-lg">事業所一覧</p>
    <p class="ml-12">
        <a href="/customer/shop/register?customer_id={{ customer.id }}" class="inline-block text-blue-500 hover:text-blue-700 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
          <span class="align-middle text-base">事業所を登録する</span></a>
    </p>

</div>

    <p>
        {% for page_num in shops.iter_pages(left_edge=3, right_edge=2) %}

        {% if page_num %}
            {% if shops.page == page_num %}
            <a href="{{ url_for('customer.profile', id=customer.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="text-decoration-none" href="{{ url_for('customer.profile', id=customer.id,
             page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}

        {% endfor %}
    </p>

    <table class="table-auto w-full my-5">
        <thead>
            <tr class="border-b border-black">
            <th>事業所ID</th>
            <th>事業所名</th>
            <th>郵便番号</th>
            <th>住所</th>
            <th>TEL</th>
            </tr>
        </thead>

    {% for shop in shops.items %}
        <tr class="border-b">
           <td>{{ shop.id }}</td>
           <td><a href="/customer/shop/{{ shop.customer_id }}/{{ shop.id }}" class="text-blue-500 hover:underline hover:text-blue-800">
               {{ shop.name }}</a></td>
           <td>{{ '{}-{}'.format(shop.zip[:3], shop.zip[3:]) }}</td>
           <td>{{ shop.prefecture }}{{ shop.city }}{{ shop.town }}{{ shop.address }}</td>
           <td>{{ shop.telephone }}</td>
        </tr>

    {% endfor %}
    </table>
    {% else %}
        <p>・・・現在事業所の登録はありません。</p>
    {% endif %}

</div>

{% endblock %}
