{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% from "_macros.html" import render_field_with_errors, render_select_field %}

<div class="container max-w-md mx-auto mt-7 px-3">

<p class="font-bold text-lg my-5">取引先の登録</p>
    <form name="customer" action="/customer/register" method="POST">
    {{ form.csrf_token }}
    <div class="my-5">
        {{ render_field_with_errors(form.id, class_="w-full text-gray-700 focus:outline-none
           focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 transition duration-500 px-3 pb-1")}}
           
        <div id="error_id" style="color: red;"></div>{# jsでバリエーションしてエラー表示をさせる場所 #}
    </div>

    <div class="my-5">
        {{ render_field_with_errors(form.name, class_="w-full text-gray-700 focus:outline-none
           focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 transition duration-500 px-3 pb-1")}}
    </div>

    <div class="my-5">
        {{ render_select_field(form.staff, class_="w-full text-gray-700 focus:outline-none
           focus:bg-gray-100 border-b border-gray-300 focus:border-blue-500 transition duration-500 px-3 pb-1")}}
    </div>

    <div>
        <a href="/customer" class="text-blue-500 hover:underline hover:text-blue-800">キャンセル</a>
        <button class="bg-blue-500 hover:bg-blue-700 text-white mx-7 py-1 px-7 rounded-full" type="submit">登録</button>
    </div>
    
    </form>
</div>
</div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/customer.js') }}"></script>
{% endblock %}
