<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>fasは移動しました！</title>
</head>
<body>
    <div class="mt-10 flex justify-center items-center">
        <div class="">
            <p>fasは以下に移動しました。</p>
            <p>ブックマークの変更をお願いします。</p>
            <a href="https://sf.furoshiki.in/" class="mt-8 text-blue-500 hover:underline hover:text-blue-800">https://sf.furoshiki.in/</a>
        </div>

    </div>
</body>
</html>