<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- tailwind css cdn -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/fas_favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon180x180.png')}}">

    <title>ごみ袋 | furoshiki | fas |</title>
</head>
<body>
  {% block content %}
  {% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/mobile-menu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/order.js') }}"></script>

</body>
</html>
