{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "_flashing.html" -%}

<div class="container md:max-w-md mx-auto">

    <div class="mt-6 flex justify-between px-3" x-data="getToday">
        <h1 class="mx-2 mt-8 text-xl font-bold text-gray-500">受注データ</h1>
        <p class="text-sm text-gray-500 self-end" x-text="today"></p>
    </div>

    <!-- date range select -->
    <div class="md:max-w-md md:mx-auto mx-2 mt-3 py-7 px-5 border rounded-lg shadow-lg">
        <h2 class="text-gray-500">範囲選択</h2>
        <form class="mt-7 mx-auto text-center" action="/stats" method="GET">
            <div class="text-sm">
                <label for="date_from" class="hidden">から</label>
                <input class="border-b" type="date" min="2020-09-01" name="date_from" id="date_from" required>
                <label for="date_to" class="px-3">〜</label>
                <input class="border-b" type="date" min="2020-09-01" name="date_to" id="date_to" required>    
            </div>
            <button type="submit" class="block w-full bg-blue-500 hover:bg-blue-800 text-sm text-white mt-7 py-1 px-5 rounded-full shadow-xl">
                検索
            </button>
        </form>
    </div>

    <!-- search results -->
    {% if date_from and date_to %}
    <div class="md:max-w-md md:mx-auto mx-2 mt-6 py-7 px-5 border rounded-lg shadow-lg">
        <div class="text-lg">
            <span class="text-sm text-gray-500 mr-5">対象期間</span>
            <span class="border-b">{{ date_from or '' }}</span>
            <span class="text-gray-500 text-sm">〜</span>
            <span class="border-b">{{ date_to or '' }}</span>
        </div>
        <div class="mt-3 text-sm text-gray-500">
            <span class="mr-5">CO<sub>2</sub> 削減量</span>
            <span class="text-3xl text-gray-800 border-b mr-1">{{ co2 | round(1,'floor') }}</span>
            t<span class="text-xs border-b">CO<sub>2</sub></span>
        </div>
        <div class="mt-3 text-sm text-gray-500">
            <span class="mr-5">再生材使用量</span>
            <span class="text-3xl text-gray-800 border-b mr-1">{{ pcr | round(1,'floor') }}</span>
            <span class="text-xs border-b">トン</span>
        </div>

    </div>
    {% endif %}
    <!--  -->
    <div class="md:max-w-md md:mx-auto my-5 mx-2">

    {% if orders %}

    <p class="text-blue-500 px-2">
    {% for page_num in orders.iter_pages(left_edge=3, right_edge=3) %}
        {% if page_num %}
            {% if orders.page == page_num %}
            <a href="{{ url_for('cs.stats', date_from=date_from, date_to=date_to, page=page_num) }}" class="underline">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('cs.stats', date_from=date_from, date_to=date_to, page=page_num) }}" class="hover:text-blue-800">
                {{ page_num }}
            </a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </p>
    
    <table class="table-auto w-full text-sm">
        <thead>
            <tr class="border-b border-black">
                <th clss="py-2">番号</th>
                <th class="py-2">受注日</th>
                <th class="py-2">事業所</th>
                <th class="py-2">商品</th>
                <th class="py-2">単価</th>
                <th class="py-2">数量</th>
            </tr>
        </thead>

        {% for order in orders.items %}
        <tbody>
            <tr class="border-b">
                <td>{{ '{:06d}'.format(order.id) }}</td>
                <td>{{ order.date.strftime('%m-%d') }}</td>
                <td>{{ order.customer_id }}-{{ order.shop_id }} {{ order.shop.name }}</td>
                <td>{{ order.product.abbre }}</td>
                <td class="text-right">{{ '{:,d}'.format(order.price) }}</td>
                <td class="text-right">{{ order.qty }}</td>
            </tr>
        </tbody> 
        {% endfor %}
    </table>
    {% endif %}
    </div>

</div>

<!-- alpine.js -->
<script>
    const getToday = () => {
        let now = new Date();
        let year = now.getFullYear();
        let month = now.getMonth() + 1;
        let date = now.getDate();
        let hours = now.getHours().toString().padStart(2, '0');
        let minutes = now.getMinutes().toString().padStart(2, '0');
        return {
            today: year + "年" + month + "月" + date + "日" + "　" + hours + ":" + minutes
        }
    }
</script>

{% endblock %}
