{% extends "layout.html" -%}
{% block content -%}
{% include "nav.html" -%}
{% include "_flashing.html" -%}

<div class="container max-w-2xl mx-auto mt-7 px-2">
    <div class="max-w-md mx-auto">
        <p class="font-bold text-lg my-5">取引先情報</p>
        <div class="max-w-xl rounded shadow-lg my-5 p-5">
            <p class="text-right">
                <a href="/customer/{{ customer.id }}/edit" class="px-1 py-1 text-blue-500 rounded-full hover:bg-blue-100">編集</a>
            </p>
            <p class="text-gray-500 text-sm text-right">
                {{ customer.registered_at.strftime('%Y-%m-%d %H:%M') if customer.registered_at else ''  }}
            </p>
            <p class="text-gray-500">{{ customer.parent.name or '' }}</p>
            <p class="mt-3 mb-1 text-lg font-bold">{{ '%05d' % customer.id }}</p>
            <p class="text-2xl">{{ customer.name }}</p>
            <hr class="mt-8 mb-3">
            <div class="flex justify-between">
                <p class="text-gray-500 text-sm">
                    <span class="text-xs">{{ customer.sales.id or '' }}</span> {{ customer.sales.last_name ~ customer.sales.first_name or '営業担当 未登録' }}
                </p>
            </div>
        </div>
    </div>

    {% if shops %}
    <div class="flex mt-10 mb-3">
        <p class="font-bold text-lg">事業所一覧</p>
        <p class="ml-12">
            <a href="/customer/{{ customer.id }}/register" class="inline-block text-blue-500 hover:text-blue-700 hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
                <span class="align-middle text-base">事業所を登録</span></a>
            </p>
        </div>
        <p>
        {% for page_num in shops.iter_pages(left_edge=3, right_edge=2) %}
        {% if page_num %}
            {% if shops.page == page_num %}
            <a href="{{ url_for('customer.profile', id=customer.id, page=page_num) }}" class="text-blue-500 underline">
                {{ page_num }}</a>
            {% else %}
            <a class="text-blue-500" href="{{ url_for('customer.profile', id=customer.id,
             page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
        {% endfor %}
    
    </p>

    <table class="table-auto w-full my-5">
        <thead>
            <tr class="border-b border-black">
            <th>事業所ID</th>
            <th>事業所名</th>
            <th>住所</th>
            <th>TEL</th>
            </tr>
        </thead>

    {% for shop in shops.items %}
        <tr class="border-b">
           <td>{{ shop.id }}</td>
           <td><a href="/customer/{{ shop.customer_id }}/{{ shop.id }}" class="text-blue-500 hover:underline hover:text-blue-800">
               {{ shop.name }}</a></td>
           <td>{{ shop.prefecture }}{{ shop.city }}{{ shop.town }}{{ shop.address }}</td>
           <td>{{ shop.telephone }}</td>
        </tr>

    {% endfor %}
    </table>
    {% else %}
        <p>・・・現在事業所の登録はありません。</p>
    {% endif %}

</div>

{% endblock %}
