{% extends "layout.html" %}
{% block content %}
{% include "nav.html" %}
{% include "_flashing.html" %}

<div class="container max-w-2xl mx-auto mt-5">
    <div class="max-w-lg mx-auto">

    <p class="font-bold text-xl text-gray-800">事業所情報</p>

    <div class="mx-auto p-6 bg-white shadow-lg rounded-lg my-10">
        <div class="flex justify-between items-center">
            <p class="text-gray-600">{{ shop.customer_id }} - {{ shop.id }}</p>
            <p class="text-blue-500 px-3 rounded-full hover:bg-blue-100">
                <a href="/customer/{{ shop.customer_id }}/{{ shop.id }}/edit">編集</a>
            </p>
        </div>
        <p class="mt-2 text-gray-600">{{ shop.customer.name }}</p>
        <h2 class="mt-2 text-gray-800 text-2xl">{{ shop.name }}</h2>
        <p class="mt-2 text-gray-600">{{ shop.shop_number or '' }}</p>
        <p class="mt-2 text-gray-600">{{ shop.department }}</p>
        <p class="mt-2 text-gray-600">{{ '〒{}-{}'.format(shop.zip[:3], shop.zip[3:]) }} {{ shop.prefecture }} {{ shop.city }}
            {{ shop.town }} {{ shop.address }} {{ shop.building or '' }}</p>
        <p class="mt-2 text-gray-600">{{ shop.telephone }}</p>
        <p class="mt-2 text-gray-500 text-sm text-right">{{ shop.registered_at.strftime('%Y-%m-%d %H:%M') if shop.registered_at else ''  }}</p>
    </div>
    </div>

    <div class="flex my-5 justify-center">
        <a href="/order/{{ shop.customer_id }}/{{ shop.id }}"
        class="bg-blue-500 text-white text-sm mx-5 py-2 px-7 rounded-full shadow-lg
        hover:bg-blue-800 transition duration-200">受注の入力へ</a>
    </div>

    <p class="font-bold text-lg my-5">受注履歴</p>

    <table class="table-auto my-5 w-full">
        <thead>
        <tr class="border-black border-b px-4 py-2">
            <th>受注ID</th>
            <th>受注日</th>
            <th>担当</th>
            <th>商品</th>
            <th>単価</th>
            <th>数量</th>
            </tr>
        </thead>
    {% for order in orders %}
        <tr class="border-b px-4 py-1">
            <td><a href="/order/{{ order.id }}" class="text-blue-500">
                    {{ '{:06d}'.format(order.id) }}</a></td>
            <td>{{ order.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ order.staff.last_name }}</td>
            <td>{{ order.product.name }}</td>
            <td class="text-right">{{ order.price }}</td>
            <td class="text-right">{{ order.qty }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

</div>

{% endblock %}

