{% extends "layout.html" %}
{% block content %}
{% include "nav.html" %}

<!-- alert goes here -->
{% include "_flashing.html" -%}
<div class="container max-w-4xl mx-auto">
    <div class="mt-10 w-full px-3">
        <p class="font-bold text-lg mb-5">出荷情報</p>
        <table class="table-auto w-full my-5 text-sm">
        <thead>
            <tr class="border-black border-b">
                <th class="px-1">ID</th>
                <th class="px-1">出荷先</th>
                <th class="px-1">商品</th>
                <th class="px-1">数量</th>
                <th class="px-1">問合せ番号</th>
                <th class="px-1">出荷日</th>
            </tr>
        </thead>

        {% for request in requests %}
        <tr class="border-b text-center">
            <td class="px-1">{{ request.created_at.strftime('%m-%d') }}</td>
            <td class="px-1">{{ request.product_order.shop.name }}</td>
            <td class="px-1">{{ request.product_order.product.name }}</td>
            <td class="px-1">{{ request.product_order.qty }}</td>
            <td class="px-1">
                {% if request.delivery_date %}
                {{ request.delivery_date.strftime('%m-%d') }}
                {% endif %}
            </td>
            <td class="px-1">{{ request.time_range or '' }}</td>
         </tr>

        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
