{% extends "layout.html" -%}
{% block content -%}
{% include "navbar.html" -%}
{% include "_flashing.html" -%}
<div class="container max-w-4xl mx-auto px-3 md:px-0">
    <div class="my-5">
        <div class="w-full md:w-1/3 py-4 px-8 bg-white shadow-lg rounded-lg">
            <h1 class="text-lg font-bold">{{ today }}</h1>
            <p class="text-gray-500 text-sm">今日の受注</p>
            <p class="text-lg font-bold mt-3">{{ sum_qty_today or 0 }}<span class="ml-3 text-sm font-normal">箱</span></p>
            <p class="text-lg font-bold mt-1">{{ "{:,}".format(sum_amount_today) if sum_amount_today else 0  }}<span class="ml-3 text-sm font-normal">円</span></p>
        </div>
    </div>
    
    <div class="mt-5">
        <p class="text-xl">{{ current_user.last_name }}<span class="text-sm">さんの受注</span></p>
        <p class="my-3">
            {% for page_num in orders.iter_pages(left_edge=3, right_edge=2) %}
            {% if page_num %}
            {% if orders.page == page_num %}
            <a class="text-blue-500 underline hover:text-blue-800" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="text-blue-500 hover:text-blue-800" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </p>
        <table class="table-auto w-full text-sm">
            <thead>
            <tr class="border-black border-b">
                <th>受注ID</th>
                <th>受注日</th>
                <th>事業所</th>
                <th>商品</th>
                <th class="text-center">単価</th>
                <th class="text-center">数量</th>
                <th class="text-center">配送</th>
            </tr>
            </thead>
            {% for order in orders.items %}
            <tr class="border-b">
                <td class="p-1"><a href="/order/{{ order.id }}" class="text-blue-500 hover:text-blue-800 hover:underline">
                    {{ '{:06d}'.format(order.id) }}</a></td>
                <td class="p-1">{{ order.date.strftime('%Y-%m-%d') }}</td>
                <td class="p-1">{{ order.customer_id }}-{{ order.shop_id }} {{ order.shop.name }}</td>
                <td class="p-1">{{ order.product.name }}</td>
                <td class="p-1 text-right">{{ '{:,d}'.format(order.price) }}</td>
                <td class="p-1 text-right">{{ order.qty }}</td>
                <td class="p-1 text-center">
                {% if order.delivery_check == 1 %}
                    <span class="text-orange-700 text-sm font-bold">なし</span>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}
