{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}

<div class="container max-w-5xl mx-auto mt-5">
    <p class="font-bold text-lg mb-5">商品一覧</p>
    <table class="table-auto my-5 w-full">
        <thead>
        <tr class="border-black border-b mx-3">
            <th>番号</th>
            <th>商品名</th>
            <th>厚み（mm） </th>
            <th>入数（枚）</th>
            <th>サイズ（WxH,mm）</th>
            <th>箱サイズ（WxDxH,mm）</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr class="border-b mx-3">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.thickness or '' }}</td>
            <td>{{ product.qty or '' }}</td>
            <td>{{ product.size or '' }}</td>
            <td>{{ product.box_size or '' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
