{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}

<div class="container max-w-4xl flex mx-auto">
    <div class="mx-3 md:mx-0 w-full">
        <p class="font-bold text-lg my-6">商品一覧</p>
        <table class="w-full my-5">
            <thead>
            <tr class="border-black border-b">
                <th>番号</th>
                <th>商品名</th>
                <th>厚み（mm）</th>
                <th>入数（枚）</th>
                <th>サイズ（WxH,mm）</th>
                <th>出荷</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr class="border-b">
                <td class="px-1">{{ product.id }}</td>
                <td class="px-1">{{ product.name }}</td>
                <td class="px-1">{{ product.thickness or '' }}</td>
                <td class="px-1">{{ product.qty or '' }}</td>
                <td class="px-1">{{ product.size or '' }}</td>
                <td class="px-1 text-center">
                    {% if product.shipper %}
                    <span class="bg-blue-500 rounded-full text-sm px-3 py-1 text-white">sf</span>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
